Repository yuriabaev2/nock-requests-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "__tests__/**/*.ts": [
    "prettier --write"
  ]
}

test
  .husky/pre-commit
  src/index.ts
Due: eslint --fix, prettier --write

test
  src/index.ts
Due: eslint --fix, prettier --write

chore: adding changeset
  .changeset/README.md
  .changeset/config.json
Due: none

chore: adding changeset
  .changeset/cool-facts-tease.md
Due: none

chore: adding changeset
  .changeset/cool-facts-tease.md
  package.json
Due: none

chore: adding changeset
  CHANGELOG.md
Due: none

chore: adding changeset
  .changeset/config.json
  .nvmrc
  package.json
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

Update index.ts
  src/index.ts
Due: eslint --fix, prettier --write

chore: adding a change
  src/index.ts
Due: eslint --fix, prettier --write

chore: adding a change
  .github/workflows/push.yml
Due: none

chore: adding a change
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  .github/workflows/security.yml
Due: none

chore: adding a change 2
  .github/workflows/ci.yml
Due: none

chore: adding a change 2
  package-lock.json
Due: none

chore: format
  .github/workflows/ci.yml
  src/tracker.ts
Due: eslint --fix, prettier --write

chore: format
  .github/workflows/ci.yml
  src/index.ts
Due: eslint --fix, prettier --write

chore: format
  __tests__/tracker.test.ts
  package-lock.json
  package.json
  src/tracker.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: fix tests
  __tests__/index.test.ts
  __tests__/tracker.test.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: fix tests
  tsconfig.json
Due: none

chore: fix vulnerabilities
  __tests__/index.test.ts
  package-lock.json
  package.json
Due: prettier --write

chore: fix vulnerabilities
  .github/workflows/push.yml
Due: none

chore: fix vulnerabilities
  CHANGELOG.md
  package.json
Due: none

chore: fix vulnerabilities
  .npmrc
  CHANGELOG.md
  package.json
Due: none

Create Yyy.txt
  Yyy.txt
Due: none

chore: fix vulnerabilities
  CHANGELOG.md
  README.md
  package.json
Due: none

chore: fix vulnerabilities
  Yyy.txt
Due: none

chore: fix vulnerabilities
  vitest.config.ts
Due: none

fix: add semantic release
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: none

fix: add semantic release
  .github/workflows/security.yml
Due: none

chore: change release node
  .github/workflows/release.yml
Due: none

chore: change release node
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ac5ea63a61e46d67a0e6dc440caf1c22534c2f44
Due: none

chore: change release node
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

fix: change readme
  README.md
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: none
